<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSGOrox.com {% block subtitle %}- main page{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
<div class="container">
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <h3>CSGORox.com</h3>
                    <!-- <p class="lead">Ultimate eSports betting system</p> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input class="form-control input-sm" name="email" placeholder="my@email.cs" type="text" id="inputSmall">
                        </div>
                        <div class="col-lg-4">
                            <input class="form-control input-sm" name="password" placeholder="password" type="text" id="inputSmall">
                        </div>
                        <div class="col-lg-4">
                            <a href="#" class="btn btn-primary btn-sm">Log in</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="bs-component">
                        <div class="btn-group btn-group-sm btn-group-justified correct-top">
                            <a href="#" class="btn btn-warning btn-sm">Register now!</a>
                        </div>
                </div>
            </div>
        </div>
    </div>


    {% block content %}{% endblock %}
</div>
</body>
</html>