.correct-top {
    margin-top: 15px;
}
.adjust-navbar li {
    margin: 12px 15px 0 0;
}
.adjust-navbar-margin {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.adjust-navbar-padding {
    padding: 5px 15px !important;
}
.adjust-from-navbar {
    margin-top: 90px;
}
.keep-color:focus,
.keep-color.focus,
.keep-color:hover,
.keep-color.hover {
    color: #ffffff !important;
}
.keep-white {
    color: #ffffff !important;
}
.tbl-col-5 {
    width: 5%;
}
.tbl-col-10 {
    width: 10%;
}
.tbl-col-15 {
    width: 15%;
}
.tbl-col-20 {
    width: 20%;
}
.tbl-col-25 {
    width: 25%;
}
.tbl-col-30 {
    width: 30%;
}
.tbl-col-35 {
    width: 35%;
}
.tbl-col-40 {
    width: 40%;
}

.btn-pick {
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.btn-odds {
    float: right;
}
.btn-additional-bets {
    text-align: center !important;
}